PORT=8000
MONGODB_URI=mongodb+srv://choudhary78899_db_user:<HMzq6nhWicorxHHf>@cluster1.kdgdwue.mongodb.net/?appName=Cluster1
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=MRqIXQ7oYAPAWiulAY4Sv3GP1duCy1brd2LJ8AJhdjvkTmSRkTX74gkPMI42je2q
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=s2WME8BwRMMsDU30PajbHYAzpF2WCBDBu0QkysfHud5CgwIO2DuCwRKIDYyK7fMl
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=ml_default
CLOUDINARY_API_KEY=794343176565415
CLOUDINARY_API_SECRET=ET6iL8fwJX9ptGk3VSE-J7L_Ahg
